.wraper {
    width: 20%;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 160px;
    z-index: 2;
}
.category_title {
    
}
.list_category {
    margin-bottom: 30px !important;
}
.item_category{
    list-style-type: none;
    padding: 10px 0px;
}