.container {
  background-color: #cccccc56;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.boxRegister {
  background-color: #fff;
  width: 400px;
  padding: 40px 0px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(60, 60, 60, 0.4) 0px 1px 3px;
  border-radius: 3px;
}
.logo {
  margin-bottom: 20px;
}
.boxRegister_form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.boxRegister_first_name {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.boxRegister_form_input {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 8px;
}
.first_name {
  margin-right: 20px;

}

.boxRegister_form_btn_Register {
  width: 120px;
  border-radius: 5px;
  background-color: #106e6dcc;
  color: #fff;
}