
.wraper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: var(--default-layout-header-width, 90%);
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.content {
    margin-left: 160px;
    display: flex;
    flex: 1;
    background-color: #fff;
    justify-content: center;
    margin-top: 40px;
}