
.active {
    background-color: #5371615f !important;
    color: #000;
    font-weight: 500;
}
.display_none {
    display: none !important;
}
.pagination_header {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.pagination_header button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    padding: 5px;
    background-color: #4e7661;
    font-size: 16px;
    color: #fff;
    &:hover {
        background-color: #446654;
    }
}
.pagination_header button a{
    color: #fff;
    text-decoration: none;
}
.category {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.category button {
    font-size: 16px;
    background-color:#7e7e7e;
    border: #7e7e7e;
    &:hover{
        background-color: #939393;
    }
    &:focus {
        background-color: #939393;  
    }
    &:active {
        background-color: #939393 !important;
    }
}

.home_product_list {
    width : 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.home_product_list button {
    text-decoration: none;
    color: #000;
    transition: transform 0.2s ease-in-out;
    border: none;
    background-color: #00000000;
    &:hover {
        cursor: pointer;
        transform: scale(1.02);
        color:#4e7661;
        backface-visibility: hidden;
    }

}

.home_product_list_item {
    width: calc((100% - 90px) / 5);
    margin-left: calc(90px/10);
    margin-right: calc(90px/10);
    padding-bottom: 30px;
    margin-bottom: 100px;
    list-style-type: none;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    // border: 0.8px solid #e5e7eb;
}
.home_product_list_item_img {
    width: 100%;


}
.home_product_list_item_img img{
    width: 100%;
    height: 400px;
    display: flex;
    object-fit: cover;
}
.home_product_list_item_info {
    width: 100%;
    padding-top: 20px;
    display: flex  ;
    flex-direction: column;
    align-items: center;
}
.home_product_list_item_price {
    font-weight: bold;   
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.home_product_list_item_name{
    margin: 0;
    font-size: 1em;
}
.home_product_list_item_quantity{
    color: #7e7e7e;

}

// 
.perpages_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 180px;
}

.perpages_list button {
    padding: 5px 15px;
    border: none;
    margin: 0px 20px;
    border-radius: 50%;
    background-color: transparent;
}